<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'tsks/style.css' %}">

    <title>Tasks</title>
</head>

<body class="list">
    <h1>Task List</h1>
    {% if latest_task_list %}
    <div class="dv_list">
        <ul>
            {% for task in latest_task_list %}
            <!-- <li><a href="/tsks/{{ task.id }}/">{{ task.task_name }}</a></li> -->
            <li><a href="{% url 'tsks:t_detail' task.id %}">{{ task.task_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a class="addbtn" href="{% url 'tsks:index'%}">Add Task</a>
    {% else %}
    <p>No tasks are available.</p>
    <a class="addbtn" href="{% url 'tsks:index'%}">Add Task</a>
    {% endif %}

</html>