<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'tsks/style.css' %}">

    
    <title>Tasks</title>
</head>

<body class="list">
    <h1>Task List</h1>
    <div class="indx">
        <form method="POST" action="{% url 'tsks:add' %}">
            {% csrf_token %}
    
            <label for="task">Task:</label>
            <input type="text" id="task" name="task" required>
            <!--       
            <label for="due_date">Due date:</label>
            <input type="date" id="due_date" name="due_date" required> -->
    
            <button type="submit">Create Task</button>
        </form>
    </div>
    {% if latest_task_list %}
    <div class="dv_list">
        <ul>
            {% for task in latest_task_list %}
            <!-- <li><a href="/tsks/{{ task.id }}/">{{ task.task_name }}</a></li> -->
            <li {% if task.completed %}class="completed"{% endif %}><input type="checkbox" name="task-{{ task.id }}" {% if task.completed %}checked{% endif %}>
                {{ task.task_name }} <a href="{% url 'tsks:delete' task.id %}">delete</a> </li>
          
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No tasks are available.</p>
    {% endif %}

</html>